$cream: #ffffdd !default;
$dark: #222831 !default;
$dark-grey: #565656 !default;
$green: #016a70 !default;
$grey: #393e46 !default;
$light: #b7b7b7 !default;
$highlight: #8e8e8e !default;
$text-clr: #5e6282 !default;
$white: #ffffff !default;
$black: #000 !default;
$body-background: $white !default;
$text-color: $grey !default;
$font-family: 'Poppins', sans-serif;